<div class="container">
  <div class="row mb-5">
      <div clasS="col">
        <h1>{{title}}</h1>
    </div>
  </div>
  <div class="row">
    <div clasS="col mb-3">
      <app-obs-all-tasks title="All Tasks"></app-obs-all-tasks>
    </div>
  </div>
  <div class="row">
    <div clasS="col-md-6 mb-3">
      <app-obs-all-tasks title="Completed Tasks" minify="true" completed="['true']"></app-obs-all-tasks>
    </div>
    <div clasS="col-md-6 mb-3">
      <app-obs-all-tasks title="Pending Tasks" minify="true" completed="['false']"></app-obs-all-tasks>
    </div>
  </div>
<div>
<app-obs-create-tasks></app-obs-create-tasks>
